<label for='title'>Title: </label>
{{input value=title name='title'}}
<label for='description'>Description: </label>
{{input value=description name='description'}}
<button {{action 'save' model}}>Create Topic</button>
<br>
{{#link-to 'topics.index'}}Go Back{{/link-to}}

